@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Embassy';
    src: url('/fonts/EmbassyOpti.otf') format('truetype');
    font-weight: normal;
  font-style: normal;
  }
  